:root {
	--border-color: #000000;
	--canvas-color: #ffffff;

	--background: white;
	--color: #222;

	--tool-btn-hover: #ffc2c2;
	--all-tool-background: rgba(233, 233, 233, 0.8);
}

* {
	font-family: 'Patrick Hand', cursive;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	color: var(--color);
	background-color: var(--background);
}
body.dark {
	--border-color: white;
	/* --canvas-color: #e6e6e6; */

	--background: #222;
	--color: #e6e6e6;

	--tool-btn-hover: #af4343;
	--all-tool-background: rgba(78, 78, 78, 0.8);
}

/*Header*/
.header {
	position: relative;
	height: 60px;
	right: 0;
	left: 0;
}

h1 {
	position: absolute;
	padding: 5px 10px;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
}
h1::after {
	content: ' ';
	position: absolute;
	bottom: 0;
	height: 5px;
	width: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color);
	transition: all 0.5s ease;
}
h1:hover::after {
	width: 100%;
}

.ghub {
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 5px;
}

a:link,
a:visited,
a:active {
	color: black;
}

/*Main*/
#draw {
	border: 1px solid rgb(143, 143, 143);
	background-color: var(--canvas-color);
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.main {
	display: flex;
}

/* Menu */
.menu-ico {
	position: fixed;
	right: 25px;
	cursor: pointer;
	transition: all 0.5s ease;
	z-index: 100;
	background-color: var(--background);
	border-radius: 50%;
}
.menu-ico.active {
	transform: rotateZ(-135deg);
}

/*Tool Container*/
.all-tool {
	position: fixed;
	right: 0;
	margin: 65px 25px 0 0;
	transform: translateX(200%);
	transition: all 0.5s ease;
}

.all-tool.active {
	transform: translateX(0);
}

.tool-container {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
	justify-content: flex-end;
	width: auto;
	background-color: var(--all-tool-background);
	border-radius: 10px;
}

.tool-btn {
	border: 1px solid var(--border-color);
	margin: 7px;
	cursor: pointer;
	padding: 5px;
}

.tool-btn > input {
	border-style: none;
	font-size: inherit;
	margin: 0 0 0 5px;
	cursor: pointer;
	width: 50px;
}
.tool-btn > input[type='number'] {
	cursor: text;
}

.tool-btn:hover,
.btn--active {
	background-color: var(--tool-btn-hover);
}

.resize-container {
	border-radius: 0;
}
.resize-container:hover {
	background-color: var(--background);
}

#resize {
	width: 100%;
	border: none;
}
#resize:hover {
	padding: 0 5px;
}

#upload {
	width: auto;
}
#upload input {
	font-size: 12px;
	width: auto;
	font-family: 'Patrick Hand', cursive;
}
