:root {
	--border-size: 1.2px;

	--border-color: #000000;
	--canvas-color: #ffffff;
	--background: white;
	--color: #222;
	--tool-btn-hover: #ffc2c2;
	--all-tool-background: rgba(233, 233, 233, 0.8);
}

* {
	-webkit-tap-highlight-color: transparent;
	font-family: 'Patrick Hand', cursive;
	box-sizing: border-box;
	user-select: none;
}
body {
	background-color: var(--background);
	color: var(--color);
	display: flex;
	flex-direction: column;
	&.dark {
		--border-color: white;
		--background: #222;
		--color: #e6e6e6;
		--tool-btn-hover: #af4343;
		--all-tool-background: rgba(78, 78, 78, 0.8);
	}
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		&-track {
			background-color: rgb(206, 206, 206);
		}
		&-thumb {
			background-color: darkgrey;
			outline: 0.1px solid slategrey;
			border-radius: 20px;
		}
	}
}
a {
	&:link,
	&:visited,
	&:active {
		color: var(--color);
	}
}
input {
	padding: 2px 5px;
	border-radius: 5px;
}

.header {
	position: relative;
	height: 60px;
	right: 0;
	left: 0;
	h1 {
		position: absolute;
		padding: 5px 10px;
		margin: auto;
		left: 50%;
		transform: translateX(-50%);
		&:hover::after {
			width: 100%;
		}
		&::after {
			content: ' ';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0;
			height: 5px;
			transform: translateX(-50%);
			background-color: var(--color);
			transition: all 0.5s ease;
		}
	}
}
.main {
	display: flex;

	#draw {
		border: var(--border-size) solid rgb(143, 143, 143);
		background-color: var(--canvas-color);
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
		cursor: pointer;
	}
	.menu {
		&-ico {
			cursor: pointer;
			position: fixed;
			right: 25px;
			z-index: 100;
			border-radius: 50%;
			transition: all 0.5s ease;
			background-color: var(--background);
			&.active {
				transform: rotateZ(-135deg);
			}
		}
		&-tool {
			position: fixed;
			right: 0;
			margin: 65px 25px 0 0;
			transform: translateX(200%);
			transition: all 0.5s ease;
			width: auto;
			&.active {
				transform: translateX(0);
			}

			.tool-container {
				display: flex;
				flex-flow: column wrap;
				align-items: flex-end;
				justify-content: flex-end;
				background-color: var(--all-tool-background);
				border-radius: 10px;
				.tool-btn {
					border: var(--border-size) solid var(--border-color);
					margin: 7px;
					padding: 3px 5px;
					border-radius: 5px;
					cursor: pointer;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-around;
					&::before {
						content: '';
						position: absolute;
						left: -40px;
						width: 25px;
						height: 25px;
						border-radius: 5px;
					}

					& > input {
						border-style: none;
						font-size: inherit;
						margin: 0 0 0 5px;
						cursor: pointer;
						width: 50px;
						&[type='number'] {
							cursor: text;
						}
					}

					.tool-label {
						padding: 2px 4px;
						margin: 2px;
						line-height: 1;
					}
				}
				.tool-btn:hover,
				.btn--active {
					background-color: var(--tool-btn-hover);
				}

				#resize-container {
					position: relative;
					&:hover {
						background-color: transparent;
					}
					#resize {
						border-radius: inherit;
						width: 100%;
						padding: 5px;
						margin: 4px;
						border: var(--border-size) solid var(--color);
						position: relative;
						&:hover {
							background-color: var(--tool-btn-hover);
						}
					}
				}
				#upload {
					width: 80%;
					input {
						width: 70%;
						font-size: 14px;
						font-family: 'Patrick Hand', cursive;
						&::-webkit-file-upload-button {
							display: none;
						}
					}
					button {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 5px;
						font-size: 14px;
						text-align: center;
						border: none;
						background-color: transparent;
					}
				}

				#eraser::before {
					background: url('../ico/eraser.svg');
				}
				#pen::before {
					background: url('../ico/pen.svg');
				}
				#line::before {
					background: url('../ico/grip-lines-vertical.svg');
				}
				#upload::before {
					background: url('../ico/file-import.svg');
				}
				#eraser,
				#pen,
				#line,
				#upload {
					&:hover::before {
						background-size: 27px;
					}
					&::before {
						padding: 3px;
						background-size: 20px;
						background-color: white;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}
