@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
	--border-size: 1.2px;
	--border-color: #000000;

	--canvas-color: #ffffff;
	--tool-btn-hover: #ffc2c2;
	--all-tool-background: rgba(233, 233, 233, 0.8);

	--color: #222;
	--background: white;

	--theme-ico-color: red;
	--theme-ico-bg: red;

	--reset-ico-color: red;
	--reset-ico-bg: red;

	--move-ico-color: red;
	--move-ico-bg: red;

	--eraser-ico-color: red;
	--eraser-ico-bg: red;

	--pen-ico-color: red;
	--pen-ico-bg: red;

	--line-ico-color: red;
	--line-ico-bg: red;

	--circle-ico-color: red;
	--circle-ico-bg: red;

	--rect-ico-color: red;
	--rect-ico-bg: red;
}

* {
	-webkit-tap-highlight-color: transparent;
	font-family: 'Patrick Hand', cursive;
	box-sizing: border-box;
	user-select: none;
	margin: 0;
	padding: 0;

	&::-webkit-scrollbar {
		width: 7px;
		height: 4px;

		&-track {
			background-color: #ffb0b0;
		}
		&-thumb {
			background-image: linear-gradient(to bottom, #fc6f6f, #d65050);
			border-radius: 20px;
		}
	}
}

%sizeContainer {
	.container {
		&-width,
		&-height {
			width: 100%;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;

			input {
				width: 80%;
			}
		}
	}
}

%horizoneLine {
	content: '';
	position: absolute;
	height: 2px;
	left: 0;
	right: 0;
	bottom: -6px;
	background-color: var(--color);
}

body {
	background-color: var(--background);
	color: var(--color);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;

	&.dark {
		--border-color: white;

		--tool-btn-hover: #af4343;
		--all-tool-background: rgba(78, 78, 78, 0.8);

		--color: #f1f1f1;
		--background: #222;
	}
}

a {
	&:link,
	&:visited,
	&:active {
		color: var(--color);
	}
}

input {
	padding: 2px 5px;
	border-radius: 5px;
}

.header {
	position: relative;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 10px;
	border-bottom: 2px solid var(--color);

	h1 {
		position: absolute;
		margin: auto;
		left: 50%;
		transform: translateX(-50%);

		&::after {
			content: ' ';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0;
			height: 5px;
			transform: translateX(-50%);
			background-color: var(--color);
			transition: all 0.5s ease;
		}
		&:hover::after {
			width: 100%;
		}
	}
}

.main {
	position: relative;
	overflow: hidden;
	display: flex;
	width: 100%;
	height: calc(100vh - 60px);
	background-color: #222;

	#draw {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--canvas-color);
	}

	.menu {
		&-ico {
			cursor: pointer;
			position: fixed;
			top: 4px;
			right: 15px;
			z-index: 1;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			transition: all 0.5s ease;
			background-color: var(--color);

			&.active {
				background-color: #ffc2c2;

				& + .menu-tool {
					transform: translateX(0);
				}
			}
		}

		&-tool {
			position: fixed;
			right: 0;
			margin: 5px 15px 0 0;
			transform: translateX(200%);
			transition: all 0.5s ease;

			.tool-container {
				display: flex;
				flex-flow: column;
				align-items: flex-end;
				justify-content: start;
				background-color: var(--all-tool-background);
				border-radius: 10px;
				max-height: calc(100vh - 150px);
				overflow: hidden auto;

				.tool-btn {
					border: var(--border-size) solid var(--border-color);
					margin: 7px;
					padding: 3px 5px;
					border-radius: 5px;
					cursor: pointer;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-around;

					&::before {
						content: '';
						position: absolute;
						left: -40px;
						width: 25px;
						height: 25px;
						border-radius: 5px;
					}

					& > input {
						cursor: pointer;
						border-style: none;
						font-size: inherit;
						margin: 0 0 0 5px;
						width: 50px;

						&[type='number'] {
							cursor: text;
						}
					}

					.tool-label {
						padding: 2px 4px;
						margin: 2px;
						line-height: 1;
					}

					.form-group {
						display: flex;
						align-items: center;
						justify-content: center;
						padding-left: 5px;
						border-left: 2px solid var(--color);

						& > input {
							margin: 0 5px;
						}

						.container {
							&-general,
							&-gradient {
								display: flex;
								align-items: center;
								flex-direction: column;
								justify-content: space-between;
								padding: 0 10px;

								input[type='radio'] {
									padding: 0;
									margin: 0 0 5px;
								}
							}

							&-general {
								border-right: 2px solid var(--color);

								input[type='color'] {
									border-radius: 0;
									padding: 0;
									height: 30px;
									border: none;

									&[type='color'] {
										&::-webkit-color-swatch-wrapper {
											padding: 0;
										}

										&::-webkit-color-swatch {
											border: 1px solid var(--color);
										}
									}
								}
							}

							&-gradient {
								.gradient-color {
									position: relative;
									width: 50px;
									height: 30px;
									border: 1px solid var(--color);
									margin-left: 5px;
									display: flex;
									align-items: center;
									justify-content: start;
									background-image: linear-gradient(white);

									&::after {
										content: '';
										position: absolute;
										left: 0;
										right: 0;
										bottom: -10px;
										height: 14px;
									}

									.config {
										position: absolute;
										left: 50%;
										transform: translateX(-50%);
										display: none;
										align-items: center;
										justify-content: start;

										button {
											width: 20px;
											height: 20px;
											padding: 0;
											margin: 0 5px;
											border-radius: 50%;
										}

										input[type='number'] {
											width: 32px;
											height: 25px;
											padding: 2px 5px;
											margin: 0 2px;

											&[type='number']::-webkit-inner-spin-button,
											&[type='number']::-webkit-outer-spin-button {
												-webkit-appearance: none;
												margin: 0;
											}
										}
									}

									.colors {
										position: absolute;
										display: none;
										z-index: 10;
										width: 110px;
										top: 28px;
										right: -17px;
										padding: 5px;
										flex-wrap: wrap;
										align-items: flex-start;
										justify-content: center;
										background: rgba(20, 20, 20, 0.8);

										input {
											border-radius: 0;
											border: none;
											padding: 0;
											margin: 0;
											width: 25px;
											height: 25px;

											&[type='color'] {
												&::-webkit-color-swatch-wrapper {
													padding: 0;
												}

												&::-webkit-color-swatch {
													border: 1px solid white;
												}
											}
										}
									}

									&:hover {
										.config,
										.colors {
											display: flex;
										}
									}
								}
							}
						}
					}

					&#resize-container {
						position: relative;
						width: 80%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						@extend %sizeContainer;

						#resize {
							position: relative;
							font-weight: bold;
							padding: 5px 7px;
							margin: 4px;
							color: var(--color);
							background-color: var(--background);
							border: none;
							border-radius: inherit;
							transition: all 0.2s ease;

							&:hover {
								color: var(--background);
								background-color: var(--color);
							}
						}

						&:hover {
							background-color: transparent;
						}
					}

					&#upload {
						width: 80%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						.file-upload-container {
							position: relative;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: space-between;

							&::after {
								@extend %horizoneLine;
							}

							input {
								cursor: pointer;
								width: 70%;
								font-size: 14px;
								font-family: 'Patrick Hand', cursive;

								&::-webkit-file-upload-button {
									display: none;
								}
							}

							button {
								cursor: pointer;
								position: absolute;
								width: 30px;
								height: 30px;
								right: 5px;
								margin: 4px;
								padding: 5px;
								font-size: 14px;
								font-weight: bold;
								text-align: center;
								border: none;
								border-radius: 7px;
								color: var(--color);
								background-color: var(--background);
								transition: all 0.2s ease;

								&:hover {
									color: var(--background);
									background-color: var(--color);
								}
							}
						}

						.file-size-container {
							position: relative;
							padding: 10px 0 0;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;

							@extend %sizeContainer;

							&::after {
								@extend %horizoneLine;
							}
						}

						.file-preview {
							margin-top: 7px;
							min-height: 10px;
							width: 180px;
							display: flex;
							flex-wrap: wrap;
							align-items: flex-start;
							justify-content: flex-start;

							.item {
								position: relative;
								margin: 5px;
								width: 80px;
								height: 60px;
								border: 3px solid transparent;

								&-preview {
									display: none;
									position: absolute;
									width: 240px;
									height: 180px;
									top: -160px;
									left: 50%;
									transform: translateX(-50%);
									z-index: 10;
								}

								&.select {
									border-color: rgb(248, 54, 54);
								}
								&:hover {
									.item-preview {
										display: block;
									}
								}
							}
						}
					}

					&#circle::before {
						background: url('../../public/ico/circle-ico.svg');
					}
					&#rect::before {
						background: url('../../public/ico/rect-ico.svg');
					}
					&#eraser::before {
						background: url('../../public/ico/eraser-ico.svg');
					}
					&#pen::before {
						background: url('../../public/ico/pen-ico.svg');
					}
					&#line::before {
						background: url('../../public/ico/line-ico.svg');
					}
					&#upload::before {
						background: url('../../public/ico/upload-ico.svg');
					}
					&#move::before {
						background: url('../../public/ico/move-ico.svg');
					}
					&#reset::before {
						background: url('../../public/ico/reset-ico.svg');
					}

					&#circle,
					&#rect,
					&#eraser,
					&#pen,
					&#line,
					&#upload,
					&#move,
					&#reset {
						&::before {
							transition: all 0.2s ease;
							padding: 3px;
							background-size: 20px;
							background-color: white;
							background-position: center;
							background-repeat: no-repeat;
						}
						&:hover::before {
							background-size: 25px;
						}
					}
				}

				.tool-btn:hover,
				.btn--active {
					background-color: var(--tool-btn-hover);
				}
			}
		}
	}
}
